@import "neat";
@import "grid";

@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

body {
  transition: background-color .5s;
}

#top, #bottom, #left, #right {
  background: rgb(24, 63, 99);
  position: fixed;
}

#left, #right {
  top: 0;
  bottom: 0;
  width: 15px;
}

#left {
  left: 0;
}

#left-2 {
  left: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: #ff5d59;
  z-index: -1;
}

#left-3 {
  left: 35px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30px;
  background-color: #ae83c0;
  z-index: -2;
}

#right {
  right: 0;
}

#right-2 {
  right: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: #ff5d59;
  z-index: -1;
}

#right-3 {
  right: 35px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30px;
  background-color: #ae83c0;
  z-index: -2;
}

#top, #bottom {
  left: 0;
  right: 0;
  height: 15px;
}

#top-2 {
  top: 15px;
  position: fixed;
  left: 0;
  right: 0;
  height: 20px;
  background-color: #ff5d59;
  z-index: -1;
}

#top-3 {
  top: 35px;
  position: fixed;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #ae83c0;
  z-index: -2;
}

#top {
  top: 0;
}

#bottom-2 {
  bottom: 15px;
  height: 20px;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #ff5d59;
  z-index: -1;
}

#bottom-3 {
  bottom: 35px;
  position: fixed;
  height: 30px;
  left: 0;
  right: 0;
  background-color: #ae83c0;
  z-index: -2;
}

#bottom {
  bottom: 0;
}

.main {
  @include container;
  padding: 80px;
  transition: margin-left .5s;

  @include grid-media($grid-media--landscape) {
    padding: 100px;
  }

}

.mainnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #183f63;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 60px;

  a {
    text-decoration: none;
    font-size: 40px;
    color: #9fe8b9;
    display: block;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
    font-family: 'Roboto', sans-serif;

    a:hover {
      color: #f1f1f1;
    }
  }

  .closebtn {
    position: absolute;
    top: 55px;
    right: 55px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 2;
  }

  &__links {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
  }
}

#Main {
  transition: margin-left .5s;
}

span {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 30px;
  left: 37px;
  outline: none;
  z-index: 1;
}

.mainContent {
  transition: ease-in .3s;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -3;

  &__index {

    h1 {
      font-family: 'Libre Barcode 39 Text', cursive;
      font-weight: normal;
      font-size: 72px;
      margin: 0;
    }

  }

  &__about {

    h1, h2, h3, h4 {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      position: absolute;
    }

  }

  .cards {
    position: absolute;
    &__container {
      background-repeat: no-repeat;
      height: 178px;
      width: 176px;
      margin: 5px;
      display: inline-block;
      position: relative;
      border-radius: 50%;
    }

    &__container:hover {
      opacity: .8;
    }

    &-section {
      box-shadow: 0 1px 5px grey;
    }

    &__text {
      background-color: transparent;
      height: 100%;
      bottom: 0;
      left: 0;
      top: 60px;
      border-radius: 50%;
      position: absolute;
      opacity: .9;
      width: 100%;
      text-align: center;
      transition: opacity 500ms ease-in;
    }

    &__text:hover {
      opacity: .9;
    }

    &__overlay-text {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      text-decoration: none; 
      position: relative;
    }

    &__title {
      font-size: 28px;
    }

    #cards__1 {
      background-color: #9fe8b9;
    }

    #cards__2 {
      background-color: #AEB1F1;
    }

    #cards__3 {
      background-color: #ff7d93
    }

    #cards__4 {
      background-color: #9D314A;
    }

    #cards__5 {
      background-color: #532657;
    }

  }

  &__resume {
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    margin: -48px;
    padding: 0;
    z-index: -3;
    background-image: url("PeriResume.png");
    background-position: center center;

    @include grid-media($grid-media--landscape) {
      background-size: contain;
      background-repeat: no-repeat;
      height: 791px;
      position: relative;
      z-index: -3;
      background-image: url("PeriResume.png");
      background-position: center center;
    }
  }
}

@keyframes move {
  25% {
    transform: rotate(180deg);
  }
}

.animate {
  -webkit-animation: move 2s;
  -moz-animation: move 2s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
}


