.no-grid {
  background-image: none !important; }

body {
  transition: background-color .5s; }

#top, #bottom, #left, #right {
  background: #183f63;
  position: fixed; }

#left, #right {
  top: 0;
  bottom: 0;
  width: 15px; }

#left {
  left: 0; }

#left-2 {
  left: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: #ff5d59;
  z-index: -1; }

#left-3 {
  left: 35px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30px;
  background-color: #ae83c0;
  z-index: -2; }

#right {
  right: 0; }

#right-2 {
  right: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: #ff5d59;
  z-index: -1; }

#right-3 {
  right: 35px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30px;
  background-color: #ae83c0;
  z-index: -2; }

#top, #bottom {
  left: 0;
  right: 0;
  height: 15px; }

#top-2 {
  top: 15px;
  position: fixed;
  left: 0;
  right: 0;
  height: 20px;
  background-color: #ff5d59;
  z-index: -1; }

#top-3 {
  top: 35px;
  position: fixed;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #ae83c0;
  z-index: -2; }

#top {
  top: 0; }

#bottom-2 {
  bottom: 15px;
  height: 20px;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #ff5d59;
  z-index: -1; }

#bottom-3 {
  bottom: 35px;
  position: fixed;
  height: 30px;
  left: 0;
  right: 0;
  background-color: #ae83c0;
  z-index: -2; }

#bottom {
  bottom: 0; }

.main {
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding: 80px;
  transition: margin-left .5s; }
  .main::after {
    content: '';
    clear: both;
    display: table; }
  @media only screen and (min-width: 0px) {
    .main {
      max-width: 640px; } }
  @media only screen and (min-width: 640px) {
    .main {
      max-width: 800px; } }
  @media only screen and (min-width: 800px) {
    .main {
      max-width: 1180px; } }
  @media only screen and (min-width: 1180px) {
    .main {
      max-width: 1220px; } }
  @media only screen and (min-width: 800px) {
    .main {
      padding: 100px; } }

.mainnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #183f63;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 60px; }
  .mainnav a {
    text-decoration: none;
    font-size: 40px;
    color: #9fe8b9;
    display: block;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
    font-family: 'Roboto', sans-serif; }
    .mainnav a a:hover {
      color: #f1f1f1; }
  .mainnav .closebtn {
    position: absolute;
    top: 55px;
    right: 55px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 2; }
  .mainnav__links {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto; }

#Main {
  transition: margin-left .5s; }

span {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 30px;
  left: 37px;
  outline: none;
  z-index: 1; }

.mainContent {
  transition: ease-in .3s;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -3; }
  .mainContent__index h1 {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-weight: normal;
    font-size: 72px;
    margin: 0; }
  .mainContent__about h1, .mainContent__about h2, .mainContent__about h3, .mainContent__about h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: absolute; }
  .mainContent .cards {
    position: absolute; }
    .mainContent .cards__container {
      background-repeat: no-repeat;
      height: 178px;
      width: 176px;
      margin: 5px;
      display: inline-block;
      position: relative;
      border-radius: 50%; }
    .mainContent .cards__container:hover {
      opacity: .8; }
    .mainContent .cards-section {
      box-shadow: 0 1px 5px grey; }
    .mainContent .cards__text {
      background-color: transparent;
      height: 100%;
      bottom: 0;
      left: 0;
      top: 60px;
      border-radius: 50%;
      position: absolute;
      opacity: .9;
      width: 100%;
      text-align: center;
      transition: opacity 500ms ease-in; }
    .mainContent .cards__text:hover {
      opacity: .9; }
    .mainContent .cards__overlay-text {
      color: white;
      font-family: 'Roboto', sans-serif;
       font-size: 18px;
      text-decoration: none; 
      position: relative; }
    .mainContent .cards__title {
      font-size: 28px; }
    .mainContent .cards #cards__1 {
      background-color: #9fe8b9; }
    .mainContent .cards #cards__2 {
      background-color: #AEB1F1; }
    .mainContent .cards #cards__3 {
      background-color: #ff7d93; }
    .mainContent .cards #cards__4 {
      background-color: #9D314A; }
    .mainContent .cards #cards__5 {
      background-color: #532657; }
  .mainContent__resume {
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    margin: -48px;
    padding: 0;
    z-index: -3;
    background-image: url("PeriResumein.png");
    background-position: center center; }
    @media only screen and (min-width: 800px) {
      .mainContent__resume {
        background-size: contain;
        background-repeat: no-repeat;
        height: 791px;
        position: relative;
        z-index: -3;
        background-image: url("PeriResume.png");
        background-position: center center; } }

@keyframes move {
  25% {
    transform: rotate(180deg); } }
.animate {
  -webkit-animation: move 2s;
  -moz-animation: move 2s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1; }

/*# sourceMappingURL=output.css.map */
